.App {
  text-align: center;
}


.nav-link {
  color: white
}

body {
  width: 70%;
  margin: auto;
}

input{
  margin: 20px auto;
}

textarea{
  margin-bottom: 20px
}

.cont{
  display: flex;
  flex-wrap: wrap
}

.card{
  margin:20px
}

.card-text {
  text-overflow: ellipsis;
 
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
 }